[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2 = "*"
drf-nested-routers = "*"
djangorestframework = "*"
whitenoise = "*"
django-filter = "*"
python-telegram-bot = "*"
telegram-django-bot = "*"
telethon = "*"
asyncpg = "*"
djoser = "*"
pillow = "*"
jdatetime = "*"
qrcode = {extras = ["pil"], version = "*"}
django-unfold-admin = "*"
django-unfold = "*"
django-bootstrap-v5 = "*"
django-jalali-date = "*"
requests = "*"
beautifulsoup4 = "*"
selenium = "*"
webdriver-manager = "*"
lxml = "*"
pandas = "*"

[dev-packages]

[requires]
python_version = "3.10"
