{% extends "front/base.html" %}

{% block title %}Verify OTP{% endblock %}

{% block content %}
    <div class="container">
        <h2>Verify OTP</h2>
        <form method="post" action="{% url 'verify_otp' user_id=user.id %}">
            {% csrf_token %}
            <div class="mb-3">
                <label for="otp" class="form-label">OTP</label>
                <input type="text" class="form-control" id="otp" name="otp" required>
            </div>
            <button type="submit" class="btn btn-primary">Verify</button>
        </form>
    </div>
{% endblock %}

